@model FGFinal.Models.menuP
@{
    ViewBag.Title = "search";
}
@{
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<h2>search</h2>
 <input  type="text" id="search" value="Search" size="20" >
                            <input type="button" id="srchbtn" value="Search!">
                            
                       
    
    <legend>MenuP</legend>
    


