@{
    ViewBag.Title = "bill";
}
@section logS
{
    <style>
         #btn2
            {
               background-color: brown;
               
            }
    </style> 
}
 <br />
     <br />   
     <br />
     <br />
     <br />
     <br />
     <br />
<div class="border"></div>
 <div align="right">
     
    <form action="~/Home/logoo" method="post">
        <input type="submit" value="Logout" id="btn2" />
    </form>
</div>
<h2>Total bill :</h2>
<p>@ViewBag.x</p>
<br />
<br/>
<pre> Thanks For Shopping :) </pre>

